<h1>Welcome to Bailey's reading room for free comix</h1>
<p>on the Heroku app cloud</p>
<br>
<p>Owly</p>
<!-- Button to trigger modal -->
<a href="#myModal" role="button" class="btn" data-toggle="modal">Back in the Swing</a>

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  

  <div class="modal-body">
    <p>
<iframe src="http://docs.google.com/gview?url=https://s3.amazonaws.com/Comix/Owly-Back_in_the_Swing.pdf
&embedded=true" style="width:600px; height:500px;" frameborder="0"></iframe>
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
   </div>
</div>
<!-- Button to trigger modal -->
<a href="#myModal" role="button" class="btn" data-toggle="modal">Breakin the Ice</a>

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  

  <div class="modal-body">
    <p>
<iframe src="http://docs.google.com/gview?url=https://s3.amazonaws.com/Comix/Owly-Breakin_the_Ice.pdf&embedded=true" style="width:600px; height:500px;" frameborder="0"></iframe>
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
   </div>
</div>
<!-- Button to trigger modal -->
<a href="#myModal" role="button" class="btn" data-toggle="modal">Heartstrings and Ribbons</a>

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  

  <div class="modal-body">
    <p>
<iframe src="http://docs.google.com/gview?url=https://s3.amazonaws.com/Comix/Owly-Heartstrings_and_Ribbons.pdf&embedded=true" style="width:600px; height:500px;" frameborder="0"></iframe>
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
   </div>
</div>
<!-- Button to trigger modal -->
<a href="#myModal" role="button" class="btn" data-toggle="modal">Helping Hands</a>

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  

  <div class="modal-body">
    <p>
<iframe src="http://docs.google.com/gview?url=https://s3.amazonaws.com/Comix/Owly-Helping_Hands.pdf&embedded=true" style="width:600px; height:500px;" frameborder="0"></iframe>
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
   </div>
</div>
<!-- Button to trigger modal -->
<a href="#myModal" role="button" class="btn" data-toggle="modal">In a Fix</a>

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  

  <div class="modal-body">
    <p>
<iframe src="http://docs.google.com/gview?url=https://s3.amazonaws.com/Comix/Owly-In_a_Fix.pdf&embedded=true" style="width:600px; height:500px;" frameborder="0"></iframe>
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
   </div>
</div>
<!-- Button to trigger modal -->
<a href="#myModal" role="button" class="btn" data-toggle="modal">Rainy Delay</a>

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  

  <div class="modal-body">
    <p>
<iframe src="http://docs.google.com/gview?url=https://s3.amazonaws.com/Comix/Owly-Rainy_Delay.pdf
&embedded=true" style="width:600px; height:500px;" frameborder="0"></iframe>
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
   </div>
</div>
<!-- Button to trigger modal -->
<a href="#myModal" role="button" class="btn" data-toggle="modal">Re-Planting Friends</a>

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  

  <div class="modal-body">
    <p>
<iframe src="http://docs.google.com/gview?url=https://s3.amazonaws.com/Comix/Owly-Re-Planting_Friends.pdf
&embedded=true" style="width:600px; height:500px;" frameborder="0"></iframe>
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
   </div>
</div>
<!-- Button to trigger modal -->
<a href="#myModal" role="button" class="btn" data-toggle="modal">Splashin Around</a>

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  

  <div class="modal-body">
    <p>
<iframe src="http://docs.google.com/gview?url=https://s3.amazonaws.com/Comix/Owly-Splashin_Around.pdf
&embedded=true" style="width:600px; height:500px;" frameborder="0"></iframe>
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
   </div>
</div>
<br>
<p>Stargazer</p>
<br>
<!-- Button to trigger modal -->
<a href="#myModal" role="button" class="btn" data-toggle="modal">Stargazer Volume 1</a>

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  

  <div class="modal-body">
    <p>
<iframe src="http://docs.google.com/gview?url=https://s3.amazonaws.com/Comix/Stargazer-Volume-1-an-original-all-ages-graphic-novel-by-von-allan.pdf
&embedded=true" style="width:600px; height:500px;" frameborder="0"></iframe>
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
   </div>
</div>
<!-- Button to trigger modal -->
<a href="#myModal" role="button" class="btn" data-toggle="modal">Stargazer Volume 2</a>

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  

  <div class="modal-body">
    <p>
<iframe src="http://docs.google.com/gview?url=https://s3.amazonaws.com/Comix/Stargazer-Volume-2-an-original-all-ages-graphic-novel-by-von-allan.pdf
=true" style="width:600px; height:500px;" frameborder="0"></iframe>
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
   </div>
</div>

